.boy1{
  
    position: absolute;
    width:600px;
    height:600px;
    transform:translate(900px,120px);
    visibility: collapse;

}


.boy2{
    position: absolute;
    height:600px;
    width:600px;
    margin-left: 150px;
    margin-top: 710px;
    visibility: collapse;
}

