body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

section{
height:690px;
width:100%;

}

.myfields{
    height:600px;
}
.myworks{
    height:650px;

}
.top2{
    position:absolute;
    font-size:20px;
    top:180px;

}
.topIntro{
    position: relative;
    margin-left:240px;
    margin-top:40px;
}
.intro{
    position:absolute;
    font-size:75px;
    top:210px;
 
   /* transform:translate(68%,20%);*/
    
}
.top3{
    font-size:30px;
    position:absolute;
    top:400px;
   
   
}


#text_color{
color:rgb(139, 112, 15);
font-weight:800;
}





/* size of inner hyperlinks
 #blog, #contact, #education{
    position:relative;
    transform: translateY(95%);
    width:100%;
    height:700px;
   
}
*/

#home,#myfields,#education,#contact,#about--me{
position:relative;

}


#abt-me{
    font-weight:500;
    font-size:50px;
    position:absolute;
    transform: translate(750px,100px);
    color:rgb(139, 112, 15);
    font-weight: 650;
font-family: 'Poppins',Arial,sans-serif;
}
#abt-pg{
    position:absolute;
    transform: translate(750px,200px);
    font-size: 17px;
    font-family: 'Poppins',Arial,sans-serif;

}
#abt{
    font-family: 'Poppins',Arial,sans-serif;
    font-weight:500;
    font-size:20px;
}
.abt-class{
    display:inline-block;
    color:grey;
    font-size:19px;
    font-family: 'Poppins',Arial,sans-serif;
}
#abt-values-1{

    transform:translateX(83px);
  
}
#abt-values-2{
    
    transform:translateX(20px);

}
#abt-values-3{

    transform:translateX(74px);
    
}
#abt-values-4{

    transform:translateX(68px);
  
}
#abt-values-5{

    transform:translateX(65px);
  
}

.sec-pg{
    position:relative;
    font-size:20px;
    list-style:none;
}

 .sec-pg-position-1{
    
        position:absolute;
        transform:translate(710px,260px);
}


.sec-pg-position-2{
    position:absolute;
    transform:translate(710px,330px);
}


.sec-pg-position-3{
    position:absolute;
    transform:translate(710px,400px);
}


.sec-pg-position-4{
    position:absolute;
    transform:translate(710px,470px);
}

.sec-pg-position-5{
    position:absolute;
    transform:translate(710px,540px);
}
     
.hireme{
      border-radius: 15px;
      height:50px;
      width:90px;
      padding:7px;
      position:absolute;
      margin-left:240px;
      margin-top:450px;
      cursor:pointer;
      background-color:black;;
      color:white;
      font-size:15px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      letter-spacing:0.1em;
      
    }

.my-works{
    border-radius: 15px;
    height:50px;
    width:90px;
    padding:7px;
    position:absolute;
    cursor:pointer;
    margin-left:350px;
    margin-top:450px;
    background-color: black;
    color:white;
    font-size:15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:0.1em;
}

.my-works:hover{
    transition:0.3s;
    background-color: rgb(152, 122, 16);
    color:black;
}
.hireme:hover{
    transition:0.3s;
    background-color: rgb(152, 122, 16);
    color:black;
}
