
.myworks{
position:relative;
display: flex;

 }
 #myworks-head{
  font-size:50px;
  font-family: 'Poppins',Arial,sans-serif;
  transform:translateY(110px);
  color:rgb(152, 122, 16);
  text-align: center;
 }
.countdown{

  height:60px;
  width:300px;
  margin-top:100px;
  margin-left:200px;
display:flex;
justify-content: center;
place-items: center;

}
 .CD{
position:absolute;
color:#252525;
font-size:30px;


 }

 .MG{
  position:absolute;
  color:#252525;
  font-size:30px;
   }
   .CD:hover,.MG:hover, .WAM:hover{
    color:rgb(152, 122, 16);
  
  
   }

 
   .memorygame{
    height:60px;
    width:300px;
    margin-top:100px;
    margin-left:120px;
    display:flex;
    justify-content: center;
    place-items: center
   }


   .molegame{
    height:60px;
    width:300px;
    margin-top:100px;
    margin-left:100px;
    display:flex;
    justify-content: center;
    place-items: center
   }

.WAM{
  position:absolute;
  color:#252525;
  font-size:30px;
   }

  .breakout{
    height:60px;
    width:300px;
    margin-top:450px;
    margin-left:-700px;
    display:flex;
    justify-content: center;
    place-items: center
   }

.BO{
  position:absolute;
  color:#252525;
  font-size:30px;
   }
